<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">-->
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-controller="MessageController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3">
          <img src="essav-vessel-alert.png"/>
          <!--<h1 class="text-center">Vessel Alerts</h1>-->
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3 text-center">
          <i>Current Message</i>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-8 col-sm-8">
          <div>
            <textarea class="form-control" rows="4" cols="50" ng-model="current_message"></textarea>
          </div>
          <br>
          <br>
          <br>
          <div ng-repeat="message in messages">
            <br>
            <button class="btn btn-primary big-text btn-block text-button" ng-click="show_message(message)">{{message.body}}</button>
            <br>
          </div>

          <!--<br>-->
          <!--<br>-->
          <!--<input type="text" ng-model="new_message">-->

          <!--<button type="button" ng-click="add_message()" class="btn btn-default" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
          <!--</button>-->
        </div>
        <div class="col-xs-2 col-sm-2">
          <table>
            <!--<tr>-->
              <!--<td>-->
                <!--<button type="button" ng-click="clear_message()" class="btn btn-success btn-lg" aria-label="Left Align">-->
                  <!--<span class="glyphicon glyphicon-play" aria-hidden="true"></span>-->
                <!--</button>-->
              <!--</td>-->
            <!--</tr>-->
            <tr>
              <td>
                <br>
                <button type="button" ng-click="clear_message()" class="btn btn-danger btn-lg" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="marquee bottom">
      <div class="marquee-text">
        {{current_message}}
      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/autobahn/autobahn.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="jquery-stuff.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
